/* =============================================================================
	Post Content Wrappers
   ========================================================================== */

.article-wrapper {
	max-width: 700px;
	padding: 24px 20px;
	margin: 0 auto;
	position: relative;
	z-index: 2
}

.post-content-module-wide {
	position: relative
}

.post-content-slider {
	outline: none !important
}

@media (min-width: 321px) {
	.post-content-slider {
		margin-left: auto;
		margin-right: auto
	}
} /* end media query */

.full-bleed,
.post-content-slider {
	padding: 12px 0 42px
}

.post-content-module-wide {
	position: relative
}

.video-wrapper:last-child {
	margin-bottom: 0
}

.video-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 50%;
	min-width: 100%;
	max-width: 300px !important;
	width: 1px !important;
	height: 169px !important;
	.translateX(-50%)
}


@media (min-width: 480px) {
	.video-wrapper {
		width: 100%
	}
	
	.video-wrapper iframe {
		max-width:  none !important;
		width: 100% !important;
		left: 0;
		.translateX(0);
		height: 100% !important
	}
} /* end media query */

@media (min-width: 1024px) {
	.post-content-module-wide {
		width: 750px;
		left: -90px
	}
	
	.post-content-slide img {
		max-width: 750px
	}

	.post-content-module-xtra-wide {
		margin: 0 -190px;
		position: relative;
		padding: 36px 0;
	}
} /* end media query */







/* =============================================================================
	Post Content Headers
   ========================================================================== */

.post-content-slider + .post-content-module > h2:first-child,
.post-content-slider + .post-content-module > h3:first-child,
.post-content-slider + .post-content-module > h4:first-child,
.post-content-slider + .post-content-module > h5:first-child,

.post-content-module-wide + .post-content-module > h2:first-child,
.post-content-module-wide + .post-content-module > h3:first-child,
.post-content-module-wide + .post-content-module > h4:first-child,
.post-content-module-wide + .post-content-module > h5:first-child,

.post-content-module-xtra-wide + .post-content-module > h2:first-child,
.post-content-module-xtra-wide + .post-content-module > h3:first-child,
.post-content-module-xtra-wide + .post-content-module > h4:first-child,
.post-content-module-xtra-wide + .post-content-module > h5:first-child,

.post-content blockquote + h2,
.post-content blockquote + h3,
.post-content blockquote + h4,
.post-content blockquote + h5,

.post-content-slider + h1,
.post-content-slider + h2,
.post-content-slider + h3,
.post-content-slider + h4,
.post-content-slider + h5,
.post-content-slider + h6,

.video-wrapper + h1,
.video-wrapper + h2,
.video-wrapper + h3,
.video-wrapper + h4,
.video-wrapper + h5,
.video-wrapper + h6 {

	padding-top: 0
}






/* =============================================================================
	Post Content Paragraphs, Lists
   ========================================================================== */

.post-content p,
.post-content ol,
.post-content ul,
.post-content hr,
.video-wrapper,
.wp-caption {
	margin-bottom: 24px;
	clear: both
}

.post-content hr {
	border-top: 1px solid #bbd9ea;
	margin-top: 24px
}

.post-content p + hr,
.post-content ol + hr,
.post-content ul + hr,
.post-content hr:first-child:last-child,
.post-content .video-wrapper + hr {
	margin-top: 0
}

.post-content .alignleft + *,
.post-content .alignleft + *,
.post-content .alignleft + * {
	clear: right
}

.post-content .alignright + *,
.post-content .alignright + *,
.post-content .alignright + * {
	clear: left
}

.post-content .alignright + * + *,
.post-content .alignleft + * + *,
.post-content .alignright + * + *,
.post-content .alignleft + * + * {
	clear: both
}

.post-content ol,
.post-content ul {
	margin-left: 16px;
	margin-right: 15px;
	overflow: visible
}

.post-content ol {
	margin-left: 20px
}

.post-content li ol,
.post-content li ul {
	padding: 3px 0 0;
	margin-left: 30px
}

.post-content ol > li > ol {
	margin-left: 30px;
}

.post-content ol > li > ul,
.post-content ul > li > ul {
	margin-left: 30px
}

@media (min-width: 768px) {
	.post-content-module > ul {
		margin-left: 15px;
		margin-right: 15px
	}
	
	.post-content-module > ol {
		margin-left: 20px;
		margin-right: 20px
	}

	.hanging {
		.post-content-module > ol,
		.post-content-module > ul {
			margin-left: 0px;
			margin-right: 0px
		}
	}

	.post-content p,
	.post-content-module > ol,
	.post-content-module > ul,
	.post-content hr,
	.video-wrapper,
	.wp-caption {
		margin-bottom: 30px;
	}


	.post-content hr {
		margin-top: 30px
	}
	
	.post-content p + hr,
	.post-content ol + hr,
	.post-content ul + hr {
		margin-top: 0
	}

} /* end media query */

@media (min-width: 1025px) {
	.post-content p,
	.post-content-module > ol,
	.post-content-module > ul,
	.post-content hr,
	.wp-caption,
	.video-wrapper {
		margin-bottom: 36px;
	}


	.post-content hr {
		margin-top: 36px
	}
	
	.post-content p + hr,
	.post-content ol + hr,
	.post-content ul + hr {
		margin-top: 0
	}
} /* end media query */

.post-content ol ol,
.post-content ol ul,
.post-content ul ol,
.post-content ul ul {
	margin-bottom: 0
}

.post-content li {
	position: relative;
	line-height: 24px;
	padding: 3px 0
}

.post-content li:before {
	position: absolute;
	left: -15px;
	width: 15px;
	text-align: left;
	.ck(~"black");
	color: @ck
}

.post-content ol li:before {
	left: -20px;
	width: 20px
}

.post-content ul > li:before,
.post-content ol ul > li:before,
.post-content ol ul ol ul > li:before {
	content: '•';
	top: 5px;
	height: 21px;
	line-height: 21px;
	font-size: 20px;
	display: block;
}

.post-content ol > li:before,
.post-content ul ol > li:before,
.post-content ul ol ul ol > li:before {
	counter-increment: olcount;
	content: counter(olcount) ". ";
	.ck(~"black");
	color: @ck;
}

.post-content ol {
	counter-reset: olcount
}






/* =============================================================================
	Post Content Font Sizes
   ========================================================================== */

.post-content {
	font-size: 14px;
	line-height: 24px
}

@media (min-width: 992px) {
	.post-content {
		font-size: 16px;
		line-height: 27px
	}
} /* end media query */





/* =============================================================================
	Text Columns
   ========================================================================== */

@media (min-width: 1100px) {
	.txt-cols {
		margin: 0 -175px 48px;
		-webkit-columns: 2;
		-moz-columns: 2;
		columns: 2;
		-webkit-column-gap: 30px;
		-moz-column-gap: 30px;
		column-gap: 30px;
	}
	
	.txt-cols p {
		-webkit-column-break-inside: avoid;
		page-break-inside: avoid;
		break-inside: avoid;	
	}

} /* end media query */

.ie9 .txt-cols,
.ltie9 .txt-cols {
	margin: 0 auto
}





/* =============================================================================
	Three Column Layout
   ========================================================================== */

.three-col-row .three-col-item {
	vertical-align: baseline
}

.three-col-item img {
	margin: 0 auto 30px;
	max-width: 100%
}

@media (min-width: 1180px) {
	.three-col-row {
		display: table;
		width: 100%
	}
	
	.three-col-row .three-col-item {
		width: 330px;
		padding: 0 15px;
		vertical-align: top;
		display: table-cell

	}

	.three-col-item img {
		max-width: 300px
	}

} /* end media query */






/* =============================================================================
	Post Content Images
   ========================================================================== */

@negmargin: 0px;

.alignleft,
.alignright,
.aligncenter,
.aligncenter img,
.alignleft img,
.alignright img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px
}

@media (min-width: 1025px) {
	.alignleft,
	.alignright,
	.aligncenter,
	.aligncenter img,
	.alignleft img,
	.alignright img {
		margin-bottom: 30px
	}
} /* end media query */


.wp-caption,
.wp-caption img {
	width: auto !important;
	height: auto !important;
	max-width: 100% !important;
	text-align: center
}

.wp-caption img {
	margin-bottom: 0
}

.wp-caption-text {
	padding: 9px 0 0;
	line-height: 15px;
	text-align: left;
	display: block;
	margin: 0 auto;
	max-width:100% !important;
}

.wp-caption br {
	display: none
}

.full-bleed .wp-caption-text,
.post-content-slider .wp-caption-text {
	padding-top: 9px
}

.wp-caption-text:empty {
	height: 0;
	padding: 0;
	padding-bottom: 30px
}

img.size-full {
	 margin-top: 30px
}

.wp-caption img.size-full,
img.size-full.alignleft,
img.size-full.alignright {
	margin-top: 0px
}

@media (min-width: 768px) {
	
	.alignleft,
	.wp-caption.alignleft {
		float: left;
		margin: 0 30px 30px 0
	}
	
	.alignright,
	.wp-caption.alignright {
		float: right;
		margin: 0 0 30px 30px
	}
	
	.wp-caption-text {
		clear: both
	}
	
} /* end media query */

@media (min-width: 1024px) {
	img.alignleft,
	img.alignright {
		max-width: 300px
	}
	
	.alignleft,
	.wp-caption.alignleft {
		margin: 0 30px 30px @negmargin
	}
	
	.alignright,
	.wp-caption.alignright {
		margin: 0 @negmargin 30px 30px
	}

	img.alignleft {
		margin-left: @negmargin
	}

	img.alignright {
		margin-right: @negmargin
	}
	
	.wp-caption img {
		margin-left: auto;
		margin-right: auto
	}
} /* end media query */





/* =============================================================================
	Fancybox Theme
   ========================================================================== */

.fancybox-img {
	position: relative;
	display: block;
	max-width: 100%;
}

.post-content-img-col a.fancybox {
	.abs-full()
}

.aligncenter .fancybox-img {
	display: block;
	margin-top: 30px
}

img.aligncenter {
	margin-top: 30px
}

.post-content > p + img.aligncenter,
.post-content > p + .fancybox-img img.aligncenter {
	margin-top: 0
}

.post-content-fb-btn:after {
	display: none
}

@media (min-width: 768px) {
	.post-content-fb-btn:after {
		content: @icon-plus;
		font-family: 'me';
		
		position: absolute;
		top: 18px;
		right: 18px;

		display: block;
		width: 34px;
		height: 34px;
		line-height: 34px;
		.ck(~"white");
		color: @ck;
		text-align: center;
		.ck(~"black");
		background: @ck;
		.border-radius(33px);
		.transition(background, .2s);
		font-weight: normal
	}
	
	.post-content .two-col .post-content-fb-btn:after {
		display: none
	}
	
	
	.fancybox-img:hover .post-content-fb-btn:after,
	.post-content-img-col a.fancybox:hover:after,
	.post-content-fb-btn:hover:after {
		background: yellow
	}

	.post-content-img-col-fb:after,
	.fancybox-img .post-content-fb-btn:after {
		top: 12px;
		right: 12px
	}
} /* end media query */

@media (min-width: 1024px) {
	.post-content .two-col .post-content-fb-btn:after {
		display: block
	}
	
	.alignright + .post-content-fb-btn:after {
		top: 12px;
		right: -108px
	}

	.alignleft + .post-content-fb-btn:after {
		top: 12px;
		left: -108px
	}
} /* end media query */






/* =============================================================================
	Fancy box Close
   ========================================================================== */

.fancybox-close,
.big-modal-close {
	position: absolute;
	top: -16px;
	right: -16px;
	cursor: pointer;
	z-index: 8040
}

.big-modal-close {
	top: 30px;
	right: 30px
}

.fancybox-nav span,
.fancybox-close,
.big-modal-close {
	.border-radius(36px);
	.ck(~"black");
	background-color: @ck;
	.transition(background, .15s)
}

.big-modal-close:hover,
.fancybox-close:hover,
.fancybox-nav span:hover {
	background-color: yellow
}

.fancybox-close:after,
.big-modal-close:after {
	content: '';
	background-image: url(assets/images/close.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 12px 12px;
	font-size: 18px
}

.fancybox-close:after,
.fancybox-close,
.big-modal-close:after,
.big-modal-close,
.fancybox-nav span:after,
.fancybox-nav span {
	font-family: 'me';
	width: 34px;
	height: 34px;
	line-height: 34px;
	display: block;
	.ck(~"white");
	color: @ck;
	text-align: center;
}






/* =============================================================================
	Post Content Module Images
   ========================================================================== */

.post-content-slide-img {
	width: 100%;
	max-width: 100%;
	height: auto;
	margin-bottom: 0 !important
}

@media (min-width: 1024px) {
	.post-content-slide-img {
		width: 775px
	}
} /* end media query */

.post-content-module-xtra-wide img {
	display: block;
	margin-left: auto;
	margin-right: auto
}





/* =============================================================================
	Full Bleed Image
   ========================================================================== */
   
.full-bleed-img {
	height: 250px;
	background-position: center center !important
}

.full-bleed .article-wrapper {
	padding-top: 0;
	padding-bottom: 0
}

@media (min-width: 1024px) {
	.full-bleed {
		//max-width: 1290px;
		margin: 0 auto;
		padding: 0 0 48px
	}
	
	.full-bleed-img {
		height: 500px;
	}
} /* end media query */


@media (min-width: 1300px) {
	.full-bleed-img {
		height: 600px;
	}
} /* end media query */





/* =============================================================================
	Post Content Blockquote
   ========================================================================== */

blockquote {
  padding: 12px 20px;
  margin: 0 0 24px;
  border-left: 5px solid #eeeeee;
}

@media (min-width: 768px) {
	blockquote {
		margin: 48px 0
	}
} /* end media query */

blockquote p:last-child,
blockquote ul:last-child,
blockquote ol:last-child {
  margin-bottom: 0;
}

blockquote footer,
blockquote small,
blockquote .small {
  display: block;
  font-size: 13px;
  line-height: 15px;
}

blockquote footer:before,
blockquote small:before,
blockquote .small:before {
  content: '\2014 \00A0';
}

.blockquote-reverse {
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #eeeeee;
  border-left: 0;
  text-align: right;
}

.blockquote-reverse footer:before,
.blockquote-reverse small:before,
.blockquote-reverse .small:before {
  content: '';
}

.blockquote-reverse footer:after,
.blockquote-reverse small:after,
.blockquote-reverse .small:after {
  content: '\00A0 \2014';
}


/* =============================================================================
	Post Content Big Pullquote
   ========================================================================== */

.pullquote {
	margin-top: 36px;
	margin-bottom: 36px;
	padding-top: 24px;
	.ck(~"black");
	border-top: 3px solid @ck;
	border-bottom: 1px solid @ck
}

.pullquote p {
	font-size: 22px;
	.ck(~"black");
	color: @ck;
	line-height: 27px;
}

.pullquote p:last-child {
	margin-bottom: 24px
}

@media (min-width: 768px) {
	.pullquote {
		margin-top: 42px;
		margin-bottom: 42px
	}
	
	.pullquote p {
		font-size: 27px;
		line-height: 30px;
	}
} /* end media query */






/* =============================================================================
	Flickity Slide Show
   ========================================================================== */

.flickity-prev-next-button {
	position: absolute;
	top: 50%;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin-top: -15px;
	background: rgba(0,0,0,0);
	.ck(~"white");
	border: 2px solid @ck;
	.transition(opacity, .1s, ease);
	.opacity(.8);
	/* vertically center */
	-webkit-transform: translateY(-50%);
	  -ms-transform: translateY(-50%);
	      transform: translateY(-50%);
}

.flickity-prev-next-button:after {
	font-family: 'me';
	width: 26px;
	height: 26px;
	line-height: 26px;
	display: block;
	.ck(~"white");
	color: @ck;
	font-size: 16px;
	text-align: center;
	position: relative
}

.flickity-prev-next-button.previous:after {
	left: -.4px;
	content: @icon-chevron-thin-left
}

.flickity-prev-next-button.next:after {
	content: @icon-chevron-thin-right
}

.flickity-prev-next-button svg {
	display: none
}

@media (min-width: 1024px) {
	.flickity-prev-next-button {
		display: block;
		width: 38px;
		height: 38px;
		margin-top: -19px;
	}

	.flickity-prev-next-button:after {
		font-family: 'me';
		width: 34px;
		height: 34px;
		line-height: 36px;
		font-size: 17px;
	}
} /* end media query */

.flickity-prev-next-button:hover {
	.opacity(1)
}

.flickity-prev-next-button:disabled {
	.opacity(.1)
}

.flickity-prev-next-button.previous { left: 15px; }
.flickity-prev-next-button.next { right: 15px; }



.flickity-prev-next-button .arrow {
 /*  fill: #333; */
}

/* IE8 and Android 2.3 */
.flickity-prev-next-button.no-svg {
/*
  color: #333;
  font-size: 30px;
*/
}




/* =============================================================================
	Two column image layout
   ========================================================================== */

.post-content-img-col {
	padding-top: 24px;
	padding-bottom: 24px
}

.post-content-img-col:first-child {
	padding-bottom: 0
}

.post-content-img-col .inline-block {
	width: 100%
}

.post-content-img-col,
.post-content-img-col img {
	margin-left: auto;
	margin-right: auto;
	display: block
}

.post-content-img-col img {
	margin-bottom: 0
}

.post-content-img-two-col {
	padding-bottom: 36px
}

@media (min-width: 380px) {
	.post-content-img-col .inline-block {
		width: auto
	}
} /* end media query */

@media (min-width: 1024px) {
	.post-content-img-two-col {
		padding: 12px 0 48px;
		margin-left: -15px;
		margin-right: -15px
	}
	
	.post-content-img-col {
		width: 50%;
		float: left;
		padding-right: 15px;
		padding-left: 15px
	}
	
	.post-content-img-col img {
		width: 100%;
	}
} /* end media query */