/* =============================================================================
	General
   ========================================================================== */

body {
	position: relative;
	font-family: @bodyfont;
}

html, body {
	line-height: @bodylineheight;
	font-size: @bodyfontsize;
}

body {
	max-width: 100%;
	overflow-x: hidden;
	font-weight: normal;
	color: @text;
	position: relative;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

img {
	max-width: 100%;
	display: block
}

a {text-decoration: none; color: @link; .transition(color)}

.inner {
	max-width: 640px;
	padding: 0 20px;
	margin: 0 auto;
	.box-sizing()
}

.container-fluid .inner {
	padding: 0
}

.container-fluid .inner > .col-xs-12 {
	padding: 0
}

@media (min-width: 768px) {
	.inner,
	.container-fluid .inner {
		max-width: 1260px;
		padding: 0 40px
	}
	
	.container-fluid .inner > .col-xs-12 {
		padding: 0 15px
	}
}

#content {
	position: relative
}


@media (min-width: 768px) {
	.container-fluid {
		max-width: 1110px;
		margin: 0 auto
	}
}


/* =============================================================================
	Layout
   ========================================================================== */


.block {display: block}

.w100 {
	width: 100%
}

.inline-block {
	display: inline-block
}

.table-mob {
	display: table;
	margin: 0 auto
}

.table-mob .table-cell {
	display: table-cell; vertical-align: middle
}

.table-cell {
	float: none
}

@media (min-width: 768px) {
	.table {display: table}
	.table-cell {display: table-cell; vertical-align: middle}
} /* end media query */

.valign-t {vertical-align: top !important}
.valign-m {vertical-align: middle !important}
.valign-b {vertical-align: bottom !important}
.none {display: none}

.pr {position: relative}
.fl {float: left}
.fr {float: right}
.center {margin: 0 auto}

.abs-full() {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.abs-full {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.clear {clear: both}

.group:before,
.group:after,
.row-fluid:before,
.row-fluid:after,
.column-switch-group:before,
.column-switch-group:after {
    content: "";
    display: table;
} 

.group:after,
.row-fluid:after,
.column-switch-group:after {
    clear: both;
}

.group,
.row-fluid,
.column-switch-group {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

.nav-hor li {float: left}
.nav-hor li:first-child {padding-left: 0; margin-left: auto}

.img-fluid img,
img.img-fluid {
	width:100%;
	height: auto;
	display:block
}

.bg-cover {background-size: cover !important}


@media (max-width: 768px) {
	.pt0mob {
		padding-top: 0 !important
	}
} /* end media query */

.padding-side {
	padding-left: 10px;
	padding-right: 10px
}

.padding-full {
	padding: 12px 10px
}

@media (min-width: 768px) {
	.padding-side {
		padding-left: 20px;
		padding-right: 20px
	}
	
	.padding-full {
		padding: 24px 20px
	}
} /* end media query */


@media (max-width: 899px) {
	.center-cols {
		.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12,
		.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12,
		.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12,
		.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
			width: 100%;
			display: block
		}
	}
}

@media (min-width: 768px) {
	.center-cols {
		text-align: center
	}

	.center-cols {
		.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12,
		.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12,
		.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12,
		.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
			display: inline-block !important;
			float: none !important;
			vertical-align: top;
			position: relative;
			overflow: hidden;
			padding-left: 15px;
			padding-right: 15px
		}
	}

	.row.center-cols {
		margin-left: -15px;
		margin-right: -15px
	}

	.right-cols {
		.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12,
		.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12,
		.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
			float: right !important
		}	
	}
} /* end media query */

@media (min-width: 992px) {
	.right-cols {
		.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
			float: right !important
		}	
	}
} /* end media query */

@media (min-width: 1200px) {
	.right-cols {
		.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
			float: right !important
		}	
	}
}

.p0 {padding: 0 !important}
.m0 {margin: 0 !important}

.pt0 {padding-top: 0 !important}
.pb0 {padding-bottom: 0 !important}

.mt0 {margin-top: 0 !important}
.mb0 {margin-bottom: 0 !important}

.pth {padding-top: .5 * @spacer !important}
.pbh {padding-bottom: .5 * @spacer !important}

.mth {margin-top: .5 * @spacer !important}
.mbh {margin-bottom: .5 * @spacer !important}

.ptbh {padding-top: .5 * @spacer !important; padding-bottom: .5 * @spacer !important}

.pt1 {padding-top: @spacer !important}
.pb1 {padding-bottom: @spacer !important}

.mt1 {margin-top: @spacer !important}
.mb1 {margin-bottom: @spacer !important}

.ptb1 {padding-top: @spacer !important; padding-bottom: @spacer !important}

.pt1h {padding-top: @spacer * 1.5 !important}
.pb1h {padding-bottom: @spacer * 1.5 !important}

.mt1h {margin-top: @spacer * 1.5 !important}
.mb1h {margin-bottom: @spacer !important}

.pt2 {padding-top: 2 * @spacer !important}
.pb2 {padding-bottom: 2 * @spacer !important}

.mt2 {margin-top: 2 * @spacer !important}
.mb2 {margin-bottom: 2 * @spacer !important}

.ptb2 {padding-top: 2 * @spacer !important; padding-bottom: 2 * @spacer !important}

.pt2h {padding-top: 2.5 * @spacer !important}
.pb2h {padding-bottom: 2.5 * @spacer !important}

.mt2h {margin-top: 2.5 * @spacer !important}
.mb2h {margin-bottom: 2.5 * @spacer !important}

.ptb2h {padding-top: 2.5 * @spacer !important; padding-bottom: 2.5 * @spacer !important}

.pt3 {padding-top: 3 * @spacer !important}
.pb3 {padding-bottom: 3 * @spacer !important}

.mt3 {margin-top: 3 * @spacer !important}
.mb3 {margin-bottom: 3 * @spacer !important}

.pt3h {padding-top: 3.5 * @spacer !important}
.pb3h {padding-bottom: 3.5 * @spacer !important}

.mt3h {margin-top: 3.5 * @spacer !important}
.mb3h {margin-bottom: 3.5 * @spacer !important}

.ptb3 {padding-top: 3 * @spacer !important; padding-bottom: 3 * @spacer !important}

.pt4 {padding-top: 4 * @spacer !important}
.pb4 {padding-bottom: 4 * @spacer !important}

.mt4 {margin-top: 4 * @spacer !important}
.mb4 {margin-bottom: 4 * @spacer !important}

.ptb4 {padding-top: 4 * @spacer !important; padding-bottom: 4 * @spacer !important}

.pt4h {padding-top: 4.5 * @spacer !important}
.pb4h {padding-bottom: 4.5 * @spacer !important}

.mt4h {margin-top: 4.5 * @spacer !important}
.mb4h {margin-bottom: 4.5 * @spacer !important}

.ptb4h {padding-top: 4.5 * @spacer !important; padding-bottom: 4.5 * @spacer !important}

.pt5 {padding-top: 5 * @spacer !important}
.pb5 {padding-bottom: 5 * @spacer !important}

.mt5 {margin-top: 5 * @spacer !important}
.mb5 {margin-bottom: 5 * @spacer !important}

.ptb5 {padding-top: 5 * @spacer !important; padding-bottom: 5 * @spacer !important}

.pt5h {padding-top: 5.5 * @spacer !important}
.pb5h {padding-bottom: 5.5 * @spacer !important}

.mt5h {margin-top: 5.5 * @spacer !important}
.mb5h {margin-bottom: 5.5 * @spacer !important}

.ptb5h {padding-top: 5.5 * @spacer !important; padding-bottom: 5.5 * @spacer !important}

.pt6 {padding-top: 6 * @spacer !important}
.pb6 {padding-bottom: 6 * @spacer !important}

.mt6 {margin-top: 6 * @spacer !important}
.mb6 {margin-bottom: 6 * @spacer !important}

.ptb6 {padding-top: 6 * @spacer !important; padding-bottom: 6 * @spacer !important}

.pt6h {padding-top: 6.5 * @spacer !important}
.pb6h {padding-bottom: 6.5 * @spacer !important}

.mt6h {margin-top: 6.5 * @spacer !important}
.mb6h {margin-bottom: 6.5 * @spacer !important}

.ptb6h {padding-top: 6.5 * @spacer !important; padding-bottom: 6.5 * @spacer !important}

@media (min-width: 768px) {
	.row-fluid.span-right > [class*="span"] {
		float: right;
		margin-right: 4%;
		margin-left: 0;
		.box-sizing  
	}
	
	.row-fluid.span-right > [class*="span"]:first-child {margin-right: 0}
} /* end media query */



/* =============================================================================
	Content block
   ========================================================================== */

.content-block {
	padding-top: 36px;
	padding-bottom: 36px
}

@media (min-width: 768px) {
	.content-block {
		padding-top: 60px;
		padding-bottom: 60px
	}
	
	.content-block.extra-padding {
		padding-top: 96px;
		padding-bottom: 96px
	}
	
	.content-block p:last-child,
	.content-block ul:last-child,
	.content-block ol:last-child {
		margin-bottom: 0
	}

	.container-fluid.width-lg {
		max-width: 768px
	}
		
	.container-fluid.width-md {
		max-width: 640px
	}

	.container-fluid.width-sm {
		max-width: 550px
	}
} /* end media query */

/* =============================================================================
	Type
   ========================================================================== */


.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
	margin-bottom: 24px;
	padding-top: 24px;
}

.post-content h1 {
	margin-bottom: 36px;
}

.post-content h5 {
	margin-bottom: 12px;
	text-transform: uppercase
}

.post-content h1:first-child,
.post-content h2:first-child,
.post-content h3:first-child,
.post-content h4:first-child,
.post-content h5:first-child,
.post-content h6:first-child {
	padding-top: 0
}

// mob font vars
@mob-super:54px;
@mob-super-lh:54px;

@mob-mega:42px;
@mob-mega-lh:42px;

@mob-alpha:44px;
@mob-alpha-lh:48px;

@mob-beta:38px;
@mob-beta-lh:42px;

@mob-gamma:34px;
@mob-gamma-lh:36px;

@mob-delta:28px;
@mob-delta-lh:30px;

@mob-zeta:22px;
@mob-zeta-lh:24px;

@mob-theta:18px;
@mob-theta-lh:21px;

@mob-eta:16px;
@mob-eta-lh:21px;

@mob-iota:15px;
@mob-iota-lh:18px;

// med font vars
@super:72px;
@super-lh:72px;

@mega:60px;
@mega-lh:60px;

@alpha:48px;
@alpha-lh:48px;

@beta:42px;
@beta-lh:48px;

@gamma:36px;
@gamma-lh:36px;

@delta:29px;
@delta-lh:36px;

@zeta:24px;
@zeta-lh:24px;

@theta:20px;
@theta-lh:24px;

@eta:18px;
@eta-lh:21px;

@iota:16px;
@iota-lh:21px;

// large font vars
@lg-super:72px;
@lg-super-lh:72px;

@lg-mega:60px;
@lg-mega-lh:60px;

@lg-alpha:48px;
@lg-alpha-lh:48px;

@lg-beta:42px;
@lg-beta-lh:48px;

@lg-gamma:36px;
@lg-gamma-lh:36px;

@lg-delta:29px;
@lg-delta-lh:36px;

@lg-zeta:24px;
@lg-zeta-lh:24px;

@lg-theta:20px;
@lg-theta-lh:24px;

@lg-eta:18px;
@lg-eta-lh:21px;

@lg-iota:16px;
@lg-iota-lh:21px;

.post-content h1 {
	font-size: @mob-gamma;
	line-height: @mob-gamma-lh;
}

.post-content h2 {
	font-size: @mob-delta;
	line-height: @mob-delta-lh
}

.post-content h3 {
	font-size: @mob-zeta;
	line-height: @mob-zeta-lh
}

.post-content h4 {
	font-size: @mob-eta;
	line-height: @mob-eta-lh
}

.post-content h5 {
	font-size: @mob-iota;
	line-height: @mob-iota-lh
}

@media (min-width: 1024px) {
	.post-content h1 {
		font-size: @gamma;
		line-height: @gamma-lh;
	}
	
	.post-content h2 {
		font-size: @delta;
		line-height: @delta-lh
	}
	
	.post-content h3 {
		font-size: @zeta;
		line-height: @zeta-lh
	}
	
	.post-content h4 {
		font-size: @eta;
		line-height: @eta-lh
	}
	
	.post-content h5 {
		font-size: @iota;
		line-height: @iota-lh
	}
} /* end media query */

.mega, .post-content .mega {
	font-size: @mob-mega;
	line-height: @mob-mega-lh
}

.super, .post-content .super {
	font-size: @mob-super;
	line-height: @mob-super-lh
}

.alpha, .post-content .alpha {
	font-size: @mob-alpha;
	line-height: @mob-alpha-lh;
}

.beta, .post-content .beta {
	font-size: @mob-beta;
	line-height: @mob-beta-lh
}

.gamma, .post-content .gamma {
	font-size: @mob-gamma;
	line-height: @mob-gamma-lh;
}

.delta, .post-content .delta {
	font-size: @mob-delta;
	line-height: @mob-delta-lh
}

.zeta, .post-content .zeta {
	font-size: @mob-zeta;
	line-height: @mob-zeta-lh
}

.theta, .post-content .theta {
	font-size: @mob-theta;
	line-height: @mob-theta-lh
}

	
.eta, .post-content .eta {
	font-size: @mob-eta;
	line-height: @mob-eta-lh
}

.iota, .post-content .iota {
	font-size: @mob-iota;
	line-height: @mob-iota-lh
}


@media (min-width: 1024px) {
	.mega, .post-content .mega {
		font-size: @mega;
		line-height: @mega-lh
	}
	
	.super, .post-content .super {
		font-size: @super;
		line-height: @super-lh
	}
	
	.alpha, .post-content .alpha {
		font-size: @alpha;
		line-height: @alpha-lh;
	}
	
	.beta, .post-content .beta {
		font-size: @beta;
		line-height: @beta-lh
	}
	
	.gamma, .post-content .gamma {
		font-size: @gamma;
		line-height: @gamma-lh;
	}
	
	.delta, .post-content .delta {
		font-size: @delta;
		line-height: @delta-lh
	}
	
	.zeta, .post-content .zeta {
		font-size: @zeta;
		line-height: @zeta-lh
	}
	
	.theta, .post-content .theta {
		font-size: @theta;
		line-height: @theta-lh
	}
	
		
	.eta, .post-content .eta {
		font-size: @eta;
		line-height: @eta-lh
	}
	
	.iota, .post-content .iota {
		font-size: @iota;
		line-height: @iota-lh
	}
} /* end media query */




/* =============================================================================
	Post Content
   ========================================================================== */

.post-content p,
.post-content ol,
.post-content ul {
	margin-bottom: 24px;
	clear: both
}

.post-content .alignleft + *,
.post-content .alignleft + *,
.post-content .alignleft + * {
	clear: right
}

.post-content .alignright + *,
.post-content .alignright + *,
.post-content .alignright + * {
	clear: left
}

.post-content .alignright + * + *,
.post-content .alignleft + * + *,
.post-content .alignright + * + *,
.post-content .alignleft + * + * {
	clear: both
}

.post-content ol,
.post-content ul {
	margin-left: 20px;
	margin-right: 20px
}

@media (min-width: 768px) {
	.post-content ol,
	.post-content ul {
		margin-left: 0px;
		margin-right: 0px
	}

	.post-content p,
	.post-content ol,
	.post-content ul {
		margin-bottom: 30px;
	}
} /* end media query */

.post-content li {
	position: relative;
	line-height: 21px;
	padding: 3px 0
}

.post-content li:before {
	content: '•';
	position: absolute;
	top: 3px;
	left: -25px;
	width: 25px;
	padding-right: 5px;
	text-align: center;
	height: 21px;
	line-height: 21px;
	display: block	
}

.post-content ul li:before {
	padding-right: 3px
}

.post-content ol li:before {
	text-align: center;
	counter-increment: olcount;
	content: counter(olcount) "."
}

.post-content ol {
	counter-reset: olcount
}



/* =============================================================================
	Post Content Font Sizes
   ========================================================================== */

.post-content {
	font-size: 14px;
	line-height: 24px
}

@media (min-width: 992px) {
	.post-content {
		font-size: 16px;
		line-height: 27px
	}
} /* end media query */



/* =============================================================================
	Post Content Images
   ========================================================================== */

.alignleft,
.alignright,
.aligncenter,
.aligncenter img,
.alignleft img,
.alignright img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 24px
}

.wp-caption.aligncenter {
	padding-top: 24px
}

.wp-caption,
.wp-caption img {
	width: auto !important;
	height: auto !important;
	max-width: 100%
}

.wp-caption img {
	margin-bottom: 9px
}

.wp-caption-text {
	margin: 0 auto;
	line-height: 18px;
	font-size: 12px;
	padding-bottom: 9px;
	border-bottom: 1px dotted @text
}


@media (min-width: 768px) {
	.alignleft,
	.wp-caption.alignleft {
		float: left;
		margin: 0 24px 24px 0
	}
	
	.alignright,
	.wp-caption.alignright {
		float: right;
		margin: 0 0 24px 24px
	}
	
	.wp-caption-text {
		clear: both
	}
	
} /* end media query */



/* =============================================================================
	Post Content Blockquote
   ========================================================================== */

blockquote {
  padding: 12px 20px;
  margin: 0 0 24px;
  border-left: 5px solid #eeeeee;
}

@media (min-width: 768px) {
	blockquote {
		margin: 48px 0
	}
} /* end media query */

blockquote p:last-child,
blockquote ul:last-child,
blockquote ol:last-child {
  margin-bottom: 0;
}

blockquote footer,
blockquote small,
blockquote .small {
  display: block;
  font-size: 13px;
  line-height: 15px;
  color: @text;
}

blockquote footer:before,
blockquote small:before,
blockquote .small:before {
  content: '\2014 \00A0';
}

.blockquote-reverse {
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #eeeeee;
  border-left: 0;
  text-align: right;
}

.blockquote-reverse footer:before,
.blockquote-reverse small:before,
.blockquote-reverse .small:before {
  content: '';
}

.blockquote-reverse footer:after,
.blockquote-reverse small:after,
.blockquote-reverse .small:after {
  content: '\00A0 \2014';
}


/* =============================================================================
	Post Content Big Pullquote
   ========================================================================== */

.pullquote {
	margin-top: 36px;
	margin-bottom: 36px;
	padding-top: 24px;
	border-top: 3px solid @textdark;
	border-bottom: 1px solid @textdark
}

.pullquote p {
	font-size: 22px;
	color: @textdark;
	line-height: 27px;
}

.pullquote p:last-child {
	margin-bottom: 24px
}

@media (min-width: 768px) {
	.pullquote {
		margin-top: 42px;
		margin-bottom: 42px
	}
	
	.pullquote p {
		font-size: 27px;
		line-height: 30px;
	}
} /* end media query */


/* =============================================================================
	Buttons
   ========================================================================== */

.btn {
	text-decoration:none !important;
	font-weight:bold;
	padding:0 30px;
	line-height:36px;
	height: auto;
	display:inline-block;
	text-align:center;
	border: 3px solid @blue;
	color: @blue;
	text-transform: uppercase;
	font-size: 10px;
	.transition(all, .25s, ease);
	.transitionfix
}

.btn:hover {
	border-color: @bluehover;
	color: @bluehover
}

.btn.pill{
	-webkit-border-radius: 19px;
	-moz-border-radius: 19px;
	border-radius: 19px;
}



