@charset "UTF-8";
.bg-graylite2 { background:#efefef; }
.bg-turq { background:#30bca2; }
.bg-turq1 { background:#00acb7; }
.bg-orange { background:#f3b520; }
.bg-cran { background:#93003f; }
.bg-orred { background:#ee5727; }
.bg-green { background:#b8cc35; }
.bg-blue { background:#337abe; }
.bg-red { background:#b20102; }
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family:'me';
  speak:none;
  font-style:normal;
  font-weight:normal;
  font-variant:normal;
  text-transform:none;
  line-height:1;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}
.icon-search:before { content:"\e61a"; }
.icon-chevron-left:before { content:"\e600"; }
.icon-chevron-right:before { content:"\e601"; }
.icon-chevron-small-down:before { content:"\e602"; }
.icon-chevron-small-left:before { content:"\e603"; }
.icon-chevron-small-right:before { content:"\e604"; }
.icon-chevron-small-up:before { content:"\e605"; }
.icon-chevron-thin-down:before { content:"\e606"; }
.icon-chevron-thin-left:before { content:"\e607"; }
.icon-chevron-thin-right:before { content:"\e608"; }
.icon-chevron-thin-up:before { content:"\e609"; }
.icon-chevron-up:before { content:"\e60a"; }
.icon-triangle-down:before { content:"\e60b"; }
.icon-triangle-left:before { content:"\e60c"; }
.icon-triangle-right:before { content:"\e60d"; }
.icon-triangle-up:before { content:"\e60e"; }
.icon-cross:before { content:"\e60f"; }
.icon-minus:before { content:"\e610"; }
.icon-plus:before { content:"\e611"; }
.icon-soundcloud:before { content:"\e612"; }
.icon-yelp:before { content:"\e613"; }
.icon-facebook:before { content:"\e614"; }
.icon-google:before { content:"\e615"; }
.icon-linkedin:before { content:"\e616"; }
.icon-pinterest:before { content:"\e617"; }
.icon-twitter:before { content:"\e618"; }
.icon-vimeo:before { content:"\e619"; }
.circle-icon, .border-icon {
  -wekit-border-radius:50%;
  -moz-border-radius:50%;
  border-radius:50%;
  padding:1.125em;
  position:relative;
  display:inline-block;
}
.btn .border-icon {
  top:-.075em;
  margin-left:10px;
  display:none;
}
@media (min-width: 480px) {
  .btn .border-icon { display:inline-block; }
}
.circle-icon:before, .border-icon:before, .circle-icon, .border-icon {
  text-align:center;
  vertical-align:middle;
}
.circle-icon:before, .border-icon:before {
  position:absolute;
  left:50%;
  top:50%;
  -ms-transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%);
  display:block;
  height:1em;
  width:1em;
}
.circle-icon { color:#ffffff; }
.border-icon {
  padding:.625em;
  text-align:center;
  border-width:2px;
  border-style:solid;
}
.border-icon.thick {
  border-width:3px;
  position:relative;
}
a.border-icon:hover:before {
  -moz-opacity:.7 ;
  -khtml-opacity:.7 ;
  -webkit-opacity:.7 ;
  opacity:.7 ;
}
@font-face {
  font-family:'me';
  src:url('assets/fonts/me.eot');
  src:url('assets/fonts/me.eot?#iefix') format('embedded-opentype'), url('assets/fonts/me.svg#est') format('svg'), url('assets/fonts/me.woff') format('woff'), url('assets/fonts/me.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
.post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6 {
  margin-bottom:24px;
  padding-top:24px;
}
.post-content h1 { margin-bottom:36px; }
.post-content h5 {
  margin-bottom:12px;
  text-transform:uppercase;
}
.post-content h1:first-child, .post-content h2:first-child, .post-content h3:first-child, .post-content h4:first-child, .post-content h5:first-child, .post-content h6:first-child { padding-top:0; }
.mega {
  font-size:42px;
  line-height:42px;
}
.super {
  font-size:54px;
  line-height:54px;
}
.alpha {
  font-size:44px;
  line-height:48px;
}
.beta {
  font-size:38px;
  line-height:42px;
}
.gamma, .page-acc-text h1 {
  font-size:34px;
  line-height:36px;
}
.delta, .page-acc-text h2 {
  font-size:28px;
  line-height:30px;
}
.zeta, .page-acc-text h3 {
  font-size:22px;
  line-height:24px;
}
.theta, .page-acc-text h4 {
  font-size:18px;
  line-height:21px;
}
.eta {
  font-size:16px;
  line-height:21px;
}
.iota, .page-acc-text h5 {
  font-size:15px;
  line-height:18px;
}
@media (min-width: 1024px) {
  .mega {
    font-size:60px;
    line-height:60px;
  }
  .super {
    font-size:72px;
    line-height:72px;
  }
  .alpha {
    font-size:48px;
    line-height:48px;
  }
  .beta {
    font-size:42px;
    line-height:48px;
  }
  .gamma, .page-acc-text h1 {
    font-size:36px;
    line-height:36px;
  }
  .delta, .page-acc-text h2 {
    font-size:30px;
    line-height:36px;
  }
  .zeta, .page-acc-text h3 {
    font-size:24px;
    line-height:24px;
  }
  .theta, .page-acc-text h4 {
    font-size:20px;
    line-height:24px;
  }
  .eta {
    font-size:18px;
    line-height:24px;
  }
  .iota, .page-acc-text h5 {
    font-size:16px;
    line-height:21px;
  }
}
.ic-left:before {
  float:left;
  margin-right:5px;
}
.ic-right:before {
  float:right;
  margin-left:5px;
}
[class^="fa-"]:before, [class*="fa-"]:before {
  font-family:'FontAwesome';
  font-style:normal;
  speak:none;
}
.bo { font-weight:700; }
.reg { font-weight:300; }
.med { font-weight:400; }
.lite { font-weight:200; }
.xlite { font-weight:100; }
.em { font-style:italic; }
.caps { text-transform:uppercase; }
.lower { text-transform:lowercase; }
.ttn { text-transform:none; }
.tac { text-align:center; }
.tar { text-align:right; }
.tal { text-align:left; }
.tdn, .tdn * { text-decoration:none !important; }
.tdu { text-decoration:underline; }
.txt-shad, .txt-shad * { text-shadow:0 0 6px rgba(0,0,0,1); }
.tr-op {
  -webkit-transition:opacity .35s ease ;
  -moz-transition:opacity .35s ease ;
  -o-transition:opacity .35s ease ;
  -ms-transition:opacity .35s ease ;
  transition:opacity .35s ease ;
}
.tr-bg {
  -webkit-transition:background .35s ease ;
  -moz-transition:background .35s ease ;
  -o-transition:background .35s ease ;
  -ms-transition:background .35s ease ;
  transition:background .35s ease ;
}
.tr-none {
  -webkit-transition:none 0s ease ;
  -moz-transition:none 0s ease ;
  -o-transition:none 0s ease ;
  -ms-transition:none 0s ease ;
  transition:none 0s ease ;
}
input, textarea {
  border:none;
  font-family:"Helvetica Neue", arial, helvetica, sans-serif;
  font-size:15px;
  -wekit-border-radius:2px;
  -moz-border-radius:2px;
  border-radius:2px;
  -webkit-appearance:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  padding:10px;
}
.grid-4-3-2-1 { margin:0 -3px; }
.grid-4-3-2-1 .item { padding:3px; }
@media (min-width: 480px) {
  .grid-4-3-2-1 .item { float:left; }
}
@media (min-width: 480px) and (max-width: 991px) {
  .grid-4-3-2-1 .item { width:50%; }
  .grid-4-3-2-1 .item:nth-child(odd) { clear:both; }
}
@media (min-width: 992px) and (max-width: 1299px) {
  .grid-4-3-2-1 .item { width:33.3333%; }
  .grid-4-3-2-1 .item:nth-child(3n + 1) { clear:both; }
}
@media (min-width: 1300px) {
  .grid-4-3-2-1 .item { width:25%; }
  .grid-4-3-2-1 .item:nth-child(4n + 1) { clear:both; }
}
body { position:relative; }
html, body {
  max-width:100%;
  overflow-x:hidden;
  font-weight:normal;
  line-height:24px;
  font-size:16px;
  color:;
  position:relative;
}
body { -webkit-font-smoothing:antialiased; }
a {
  text-decoration:none;
  color:;
  -webkit-transition:color .35s ease ;
  -moz-transition:color .35s ease ;
  -o-transition:color .35s ease ;
  -ms-transition:color .35s ease ;
  transition:color .35s ease ;
}
.inner {
  max-width:640px;
  padding:0 20px;
  margin:0 auto;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webskit-box-sizing:border-box;
}
.container-fluid .inner { padding:0; }
.container-fluid .inner > .col-xs-12 { padding:0; }
@media (min-width: 768px) {
  .inner, .container-fluid .inner {
    max-width:1260px;
    padding:0 40px;
  }
  .container-fluid .inner > .col-xs-12 { padding:0 15px; }
}
#content { position:relative; }
.content-block {
  padding-top:36px;
  padding-bottom:36px;
}
@media (min-width: 768px) {
  .content-block {
    padding-top:60px;
    padding-bottom:60px;
  }
}
.ajax-fade {
  -webkit-transition:opacity .4s ease ;
  -moz-transition:opacity .4s ease ;
  -o-transition:opacity .4s ease ;
  -ms-transition:opacity .4s ease ;
  transition:opacity .4s ease ;
  -webkit-backface-visibility:hidden;
}
#switcheroo {
  position:relative;
  z-index:2;
}
.loading-switch .ajax-fade, .loading-out .ajax-fade {
  -moz-opacity:0 ;
  -khtml-opacity:0 ;
  -webkit-opacity:0 ;
  opacity:0 ;
}
.search-submit-inside.search-form { width:150px; }
.search-submit-inside.search-form .search-input { padding-left:35px; }
.search-submit {
  height:34px;
  width:30px;
}
.search-submit-inside .search-submit {
  position:absolute;
  left:1px;
}
.internal-accordion .panel, .internal-accordion .panel-body {
  margin-top:1px !important;
  -moz-box-shadow:0 0 0 0;
  -webkit-box-shadow:0 0 0 0;
  box-shadow:0 0 0 0;
  -wekit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
  border:none !important;
}
.internal-accordion .panel-heading {
  background:none;
  padding:0;
}
.internal-accordion .panel-title a {
  display:block;
  outline:none;
}
.gallery-cell {
  width:100%;
  top:0;
  cursor:move;
  cursor:grab;
  cursor:-moz-grab;
  cursor:-webkit-grab;
}
.gallery-cell:active {
  cursor:grabbing !important;
  cursor:-webkit-grabbing !important;
  cursor:-moz-grabbing !important;
}
.flickity-viewport {
  position:relative;
  overflow:hidden;
}
.post-content p, .post-content ol, .post-content ul {
  margin-bottom:24px;
  clear:both;
}
.post-content .alignleft + *, .post-content .alignleft + *, .post-content .alignleft + * { clear:right; }
.post-content .alignright + *, .post-content .alignright + *, .post-content .alignright + * { clear:left; }
.post-content .alignright + * + *, .post-content .alignleft + * + *, .post-content .alignright + * + *, .post-content .alignleft + * + * { clear:both; }
.post-content ol, .post-content ul {
  margin-left:20px;
  margin-right:20px;
}
@media (min-width: 768px) {
  .post-content ol, .post-content ul {
    margin-left:0px;
    margin-right:0px;
  }
  .post-content p, .post-content ol, .post-content ul { margin-bottom:30px; }
}
.post-content li {
  position:relative;
  line-height:21px;
  padding:3px 0;
}
.post-content li:before {
  content:'•';
  position:absolute;
  top:3px;
  left:-25px;
  width:25px;
  padding-right:5px;
  text-align:center;
  height:21px;
  line-height:21px;
  display:block;
}
.post-content ul li:before { padding-right:3px; }
.post-content ol li:before {
  text-align:center;
  counter-increment:olcount;
  content:counter(olcount) ".";
}
.post-content ol { counter-reset:olcount; }
.post-content {
  font-size:14px;
  line-height:24px;
}
@media (min-width: 992px) {
  .post-content {
    font-size:16px;
    line-height:27px;
  }
}
.alignleft, .alignright, .aligncenter, .aligncenter img, .alignleft img, .alignright img {
  display:block;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:24px;
}
.wp-caption.aligncenter { padding-top:24px; }
.wp-caption, .wp-caption img {
  width:auto !important;
  height:auto !important;
  max-width:100%;
}
.wp-caption img { margin-bottom:9px; }
.wp-caption-text {
  margin:0 auto;
  line-height:18px;
  font-size:12px;
  padding-bottom:9px;
  border-bottom:1px dotted ;
}
@media (min-width: 768px) {
  .alignleft, .wp-caption.alignleft {
    float:left;
    margin:0 24px 24px 0;
  }
  .alignright, .wp-caption.alignright {
    float:right;
    margin:0 0 24px 24px;
  }
  .wp-caption-text { clear:both; }
}
blockquote {
  padding:12px 20px;
  margin:0 0 24px;
  border-left:5px solid #eeeeee;
}
@media (min-width: 768px) {
  blockquote { margin:48px 0; }
}
blockquote p:last-child, blockquote ul:last-child, blockquote ol:last-child { margin-bottom:0; }
blockquote footer, blockquote small, blockquote .small {
  display:block;
  font-size:13px;
  line-height:15px;
  color:;
}
blockquote footer:before, blockquote small:before, blockquote .small:before { content:'\2014 \00A0'; }
.blockquote-reverse {
  padding-right:15px;
  padding-left:0;
  border-right:5px solid #eeeeee;
  border-left:0;
  text-align:right;
}
.blockquote-reverse footer:before, .blockquote-reverse small:before, .blockquote-reverse .small:before { content:''; }
.blockquote-reverse footer:after, .blockquote-reverse small:after, .blockquote-reverse .small:after { content:'\00A0 \2014'; }
.pullquote {
  margin-top:36px;
  margin-bottom:36px;
  padding-top:24px;
  border-top:3px solid ;
  border-bottom:1px solid ;
}
.pullquote p {
  font-size:22px;
  color:;
  line-height:27px;
}
.pullquote p:last-child { margin-bottom:24px; }
@media (min-width: 768px) {
  .pullquote {
    margin-top:42px;
    margin-bottom:42px;
  }
  .pullquote p {
    font-size:27px;
    line-height:30px;
  }
}
.btn {
  text-decoration:none !important;
  font-weight:bold;
  padding:0 30px;
  line-height:36px;
  height:auto;
  display:inline-block;
  text-align:center;
  border:3px solid ;
  color:;
  text-transform:uppercase;
  font-size:10px;
  -webkit-transition:all .25s ease ;
  -moz-transition:all .25s ease ;
  -o-transition:all .25s ease ;
  -ms-transition:all .25s ease ;
  transition:all .25s ease ;
  -webkit-backface-visibility:hidden;
  -moz-backface-visibility:hidden;
  -webkit-transform:translate3d(0,0,0);
  -moz-transform:translate3d(0,0,0);
}
.btn:hover {
  border-color:;
  color:;
}
.btn.pill {
  -webkit-border-radius:19px;
  -moz-border-radius:19px;
  border-radius:19px;
}
.post-tag {
  background:#dddddd;
  font-size:10px;
  color:#ffffff !important;
  text-transform:uppercase;
  padding:0 6px;
  margin:3px 3px 3px 0;
  float:left;
}
.acc-menu {
  background:;
  padding:24px 30px 0 30px;
  margin-bottom:60px;
}
#acc-menu-nav { margin:0 -30px; }
#acc-menu-nav .panel {
  background:none;
  margin:0;
  padding:0;
  border-top: 1px solid;
  -webkit-transition:background-color .2s ease ;
  -moz-transition:background-color .2s ease ;
  -o-transition:background-color .2s ease ;
  -ms-transition:background-color .2s ease ;
  transition:background-color .2s ease ;
}
#acc-menu-nav .shown { background:#f9f9f9; }
.acc-menu-nav-btn {
  min-height:60px;
  line-height:15px;
  display:block;
  width:100%;
  font-size:14px;
  padding-left:30px;
  padding-right:30px;
  text-align:left;
  position:relative;
}
.acc-menu-nav-btn, .acc-menu-nav-btn-text:after {
  -webkit-transition:color .2s ease ;
  -moz-transition:color .2s ease ;
  -o-transition:color .2s ease ;
  -ms-transition:color .2s ease ;
  transition:color .2s ease ;
}
.acc-menu-nav-btn-text {
  position:relative;
  display:inline-block;
  width:100%;
  padding-right:30px;
}
.acc-menu-nav-btn-text:after {
  content:"\e610";
  font-family:'wtg';
  font-size:15px;
  position:absolute;
  right:0px;
  top:0px;
  color:;
}
.collapsed .acc-menu-nav-btn-text:after {
  content:"\e611";
  color:#888888;
}
.acc-menu-subnav {
  padding-top:3px;
  padding-bottom:18px;
}
.acc-menu-subnav-li {
  font-size:13px;
  line-height:15px;
  padding-top:6px;
  padding-bottom:6px;
}
.acc-menu-subnav-link {
  padding-left:50px;
  padding-right:50px;
  display:block;
  color:#888888;
}
.acc-menu-subnav-link:hover { color:; }
